#character-view-card {
    padding: 16px;
    width: 100vw;
    padding-bottom: 40px;
}

#character-tabs {
    background-color: black;
    flex-direction: row;
    padding: 8px;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;

}

#character-tabs a {
    color: white;
    font-size: 24px;
}

#go-back {
    position: absolute;
    z-index: 3;
    margin: 20px 0;
    left: 20px;
    color: white;
    border: 1px solid white;
    padding: 4px 8px;
}

#go-edit {
    display: none;
}

#go-main {
    display: none;
}

#roll-button {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 4px;
    width: 4px;
    margin: 1.5px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
}

#big-columns {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 64px;
}

#main-page-div {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    #go-edit {
        display: block;
        position: fixed;
        left: 84px;
        top: 0px;
        z-index: 6;
        margin: 20px 0;
        color: white;
        border: 1px solid white;
        padding: 4px 8px;
    }

    #go-main {
        display: block;
        position: fixed;
        z-index: 6;
        margin: 20px 0;
        left: 135px;
        top: 0px;
        color: white;
        border: 1px solid white;
        padding: 4px 8px;
    }

    #fixed-top {
        position: fixed;
        z-index: 5;
    }

}