.throw-box {
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start !important;
    font-size: 18px;
    margin-bottom: 4px !important;
    padding: 4px;
    width: 48% !important;
}

.throw-box div {
    margin-bottom: 2px;
    justify-content: flex-start;
}

.throw-box span {
    font-size: 36px;
}

.throw-box button {
    border: none;
    border-bottom: 1px solid white;
}

.inner-throw-box {
    justify-content: space-between !important;
    margin: 0px !important;
}

.inner-throw-box button:hover {
    background-color: transparent;
}

#edit-stats {
    justify-content: space-between;
}

#saved-message {
    width: 80vw;
    position: fixed;
    top: 10vh;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 36px;
    padding: 16px;
    display: none;
}

.check-box-container {
    justify-content: flex-start;
    align-items: center;
}

.outer-check-box {
    border: 1px solid white;
    height: 20px;
    width: 20px !important;
    margin-top: 16px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.checked {
    background-color: white;
}

.inner-check-box {
    height: 12px;
    width: 12px !important;
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    #master-edit .col-12 {
        width: 600px !important;
        margin: 16px;
        margin-bottom: 0px;
    }
}