.home-card > * {
    margin-bottom: 16px;
    text-align: center;
  }

.home-card {
    height: 90vh;
    justify-content: center;
}

#new-guy {
    font-size: 24px;
    color: white;
    border: 1px solid white;
    padding: 8px 24px;
    text-decoration: none;
    font-family: Josefin Slab;
}

#saved-box {
    flex-direction: row;
}

#saved-box input {
    font-size: 24px;
    padding: 7px;
    color: white;
    background-color: transparent;
    border: none;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    
#saved-box {
    flex-direction: column;
}

#saved-box input {
    font-size: 24px;
    padding: 7px;
    margin-bottom: 16px;
}
}