.home-card > * {
    margin-bottom: 16px;
    text-align: center;
  }

.home-card {
    height: 90vh;
    justify-content: center;
}

#new-guy {
    font-size: 24px;
    color: white;
    border: 1px solid white;
    padding: 8px 24px;
    text-decoration: none;
    font-family: Josefin Slab;
}