.new-char-card input {
    background-color: transparent;
    font-size: 24px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.new-char-card div {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.new-char-card h2 {
    width: 100%;
    align-items: left;
    font-size: 36px;
    margin-bottom: 8px;
}

.new-char-card .half-wit {
    width: 49%;
}

.new-char-card .first {
   margin-right: 2%;
}

.lil-deet {
    width: 48% !important;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 24px;
    font-size: 18px;
    margin-bottom: 8px !important;
}

.proficient {
    color: deepskyblue;
}

.throw {
    font-size: 24px;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16px;
    width: 45% !important;
}

.weapon-div {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px !important;
}

.weapon-div input {
    font-size: 16px;
    width: 40%;
}

.weapon-div input:nth-child(2) {
    width: 15%;
}

.weapon-div input:nth-child(3) {
    width: 40%;
}

#weapons {
    justify-content: center;
    margin-bottom: 0 !important;
}

#weapons button {
    width: 80%;
}

.center-div{
    justify-content: center;
}

.third-wit {
    width: 32% !important;
}

.middle {
    margin-right: 2% !important;
    margin-left: 2% !important;
}

.short-area {
    min-height: 100px !important;
    height: 100px !important;
}

#skills {
    margin-bottom: 0 !important;
}

.spell-slot {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4px !important;
}

.spell-slot input {
    width: 100px !important;
}

.spell-slot h3 {
    font-size: 24px;
}