#fight-container {
    width: 100vw;
    padding: 0 16px;
    font-size: 24px;
}

#fight-container input {
    font-family: Josefin Slab !important;
}

#fight-container h2 {
    width: 100%;
    align-items: flex-start;
}

#fight-container div {
    flex-direction: row;
}

.weapon-info {
    font-size: 16px;
}

#fight-container input {
    background-color: transparent;
    color: white;
    border: none;
    text-align: right;
    font-size: 24px;
    font-family: monospace;
    padding: 0px 4px;
}

.fancy-health-div {
    flex-direction: column !important;
    width: 40vw;
}

.fancy-health-div div {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    width: 100%;
}

.fancy-health-div * {
    width: 50%;
}

.fancy-health-div span {
    width: 100%;
}

.fancies-container {
    width: 100vw;
    padding: 0 16px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

#current-health {
    width: initial !important;
}

#temp-health {
    width: 100% !important;
    text-align: center !important;
}

#three-stats div {
    width: 30vw;
    flex-direction: column !important;
}

#three-stats div p {
    border-bottom: 1px solid white;
    width: 30vw;
}

.fight-list {
    flex-direction: column !important;
    border-top: 1px solid white;
    padding-top: 4px;
    width: 92vw;
    margin-bottom: 16px;

}
.fight-list div {
    width: 100vw;
    padding: 4px 16px;
    justify-content: flex-start !important;

}

.weapon-name {
    min-width: 40vw;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}


.weapon-damage {
    min-width: 45vw;
    align-items: flex-end;
    text-align: right;
}   

.list-header {
    font-family: sans-serif;
}

.list-header .weapon-damage {
    min-width: 38vw;
}

#magic-bois {
    flex-direction: column;
    flex-direction: column !important;

}

.spell-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    font-size: 24px;
}

.spell-deets {
    flex-direction: column !important;
    margin-top: 16px;
    width: 92vw !important;
    align-items: flex-start;
}

.spell-deets h4 {
    margin: 4px 0;
    font-weight: normal;
    font-size: 16px;
}

#magic-head {
    width: 92vw;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

#magic-head span {
    width: 200px;
}

#magic-head-wrapper {
    flex-direction: column !important;
    margin-bottom: 16px;
}

#them-slots {
    flex-direction: column !important;
    width: 100vw;
    padding: 16px;
}

#them-slots h2 {
    border-bottom: 1px solid white;
}

#slot-list {
    padding-top: 8px;
    flex-direction: column !important;
    width: 100vw;
    padding: 16px;
}

.slot-input {
    flex-direction: row !important;
}

/* start here!!! */

.spell-container {
    width: 100%;
    padding-top: 8px;
    flex-direction: column !important;
    margin-bottom: 8px;
}

.spell-container h3 {
    width: 100%;
}

.spell-button {
    border-bottom: 1px solid white;
    width: 7vw;
    height: 7vw;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.spell-button:hover {
    background-color: white;
    color: black;
}

.spell-progess-container {
    width: 80vw;
    height: 7vw;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid white;
}

.spell-progess {
    height: 7vw;
    transition: .2s;
    }

.spell-des {
    font-size: 16px;
}

#spell-sort-buttons {
    flex-wrap: wrap;
}

#spell-sort-buttons button {
    font-size: 16px;
    width: 18.4vw;
    padding: 8px 0px;
}

#spell-sort-buttons #all-spells {
    width: 92vw;;
    margin: 16px 0px;
} 

#long-rest {
    margin-bottom: 16px; 
}

.expansion-pannel {
    height: 0px;
    overflow: hidden;
    transition: .2s;
}

@media screen and (min-width: 768px) {
    #fight-container {
        border: 1px solid white;
        width: 400px;
        padding: 0 16px;
        font-size: 24px;
        padding-top: 16px;
        margin: 16px; 
        margin-bottom: 16px;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 87vh;
    }
    #slot-list {
        padding-top: 8px;
        flex-direction: column !important;
        width: 400px;
        padding: 16px;
    }
    .fancy-health-div {
        flex-direction: column !important;
        width: 160px;
    }
    .fancies-container {
        width: 368px;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #three-stats div {
        width: 120px;
        flex-direction: column !important;
    }
    
    #three-stats div p {
        border-bottom: 1px solid white;
        width: 120px;
    }
    
    .fight-list {
        flex-direction: column !important;
        border-top: 1px solid white;
        padding-top: 4px;
        width: 368px;
        margin-bottom: 16px;
    
    }

    .fight-list div {
        width: 400px;
        padding: 4px 16px;
        justify-content: flex-start !important;
    
    }
    
    .weapon-name {
        min-width: 160px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    
    
    .weapon-damage {
        min-width: 180px;
        align-items: flex-end;
        text-align: right;
    }   
    
    .list-header {
        font-family: sans-serif;
    }
    
    .list-header .weapon-damage {
        min-width: 152px;
    }

    .spell-deets {
        flex-direction: column !important;
        margin-top: 16px;
        width: 368px !important;
        align-items: flex-start;
    }
    
    #magic-head {
        width: 368px;
        justify-content: space-between;
    }
    
    #magic-head span {
        width: 200px;
    }
    
    #them-slots {
        flex-direction: column !important;
        width: 368px;
        padding: 16px 0;
    }
    
    #slot-list {
        padding-top: 8px;
        flex-direction: column !important;
        width: 400px;
        padding: 16px;
    }
    
    #magic-bois {
        flex-direction: column;
        flex-direction: column !important;
        width: 368px;
    }

    #spell-sort-buttons button {
        font-size: 16px;
        width: 73px;
    }
    
    #spell-sort-buttons #all-spells {
        width: 366px;
        margin: 8px 0px;
    } 

    .spell-container {
        width: 100%;
        padding-top: 8px;
        flex-direction: column !important;
        margin-bottom: 8px;
    }
    
    .spell-container h3 {
        width: 100%;
    }
    
    .spell-button {
        border-bottom: 1px solid white;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }
    
    .spell-button:hover {
        background-color: white;
        color: black;
    }
    
    .spell-progess-container {
        width: 308px;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid white;
        height: 30px;
    }
    
    .spell-progess {
        height: 30px;
        transition: .2s;
        }
    
    .spell-des {
        font-size: 16px;
    }
    
}